{% extends '::base.html.twig' %}

{% block pageHeader %}{% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    {{ include('elements/flash-messages.html.twig') }}

    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>

{% endblock body %}