<div class="text-center print-only">
    <h1>CITY BANK LIMITED</h1>
    136, Gulshan Avenue, Gulshan-2, Dhaka-1212 <br>
    Phone - 8813483 <br> <br>

    {{ reportTitle|raw }}

</div>
{% if kiosk is defined %}
<table class="table" style="margin-bottom: 20px">
    <tr>
        <td width="10%"><strong>Terminal ID:</strong></td><td width="20%">{{ kiosk.kioskCode }}</td>
        <td width="10%"><strong>Name:</strong></td><td width="20%">{{ kiosk.kioskName }}</td>
        <td width="10%"><strong>Location:</strong></td><td width="30%">{{ kiosk.address }}</td>
    </tr>
    {% if sessionStartEnd is defined %}
    <tr>
        <td><strong>Session ID:</strong></td><td>{{ sessionId }}</td>
        <td><strong>From Date Time:</strong></td><td>{{ sessionStartEnd.startDate }}</td>
        <td><strong>To Date Time:</strong></td><td>{{ sessionStartEnd.endDate }}</td>
    </tr>
    {% endif %}
</table>
{% endif %}