{% extends 'login-base.html.twig' %}

{% block title %} An Error Occurred: {{ status_text }} {% endblock %}

{% block body %}
    <h2>The server returned an error "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}