<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{% block title %}Online CDM{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    {% block stylesheets %}
        {% stylesheets
        'assets/global/plugins/font-awesome/css/font-awesome.min.css'
        'assets/global/plugins/simple-line-icons/simple-line-icons.min.css'
        'assets/global/plugins/bootstrap/css/bootstrap.min.css'
        'assets/global/plugins/uniform/css/uniform.default.css'
        'assets/global/plugins/select2/select2.css'
        'assets/global/plugins/bootstrap-toastr/toastr.min.css'
        'assets/global/css/components-md.css'
        'assets/global/css/plugins-md.css'
        'assets/admin/layout3/css/layout.css'
        'assets/admin/layout3/css/themes/default.css'
        'assets/admin/layout3/css/custom.css'
        filter='cssrewrite' output='css/compiled/all.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body class="page-md">
<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#"><img src="{{ asset('assets/admin/layout3/img/citybank.gif') }}" alt="logo" class="logo-default" height="60" style="margin-top: 10px"></a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-mobile">{{ app.user.name|default(app.user.username) }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    <i class="icon-user"></i> Change Password </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container">

            <div class="hor-menu ">
                {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active', 'template': ':elements:knp_menu.html.twig'}) }}
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                {% block pageHeader %}<h1>Dashboard <small>statistics & reports</small></h1>{% endblock pageHeader %}
            </div>
            <!-- END PAGE TITLE -->
        </div>
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            {#<!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="#">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Dashboard
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->#}

            <!-- BEGIN PAGE CONTENT INNER -->
            {% block body %}{% endblock body %}
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="container">
        All Rights Reserved.
    </div>
</div>
<div class="scroll-to-top hidden-print">
    <i class="icon-arrow-up"></i>
</div>
<!-- END FOOTER -->

{% block javascripts %}

    {% javascripts
    'assets/global/plugins/respond.min.js'
    'assets/global/plugins/excanvas.min.js'
    'assets/global/plugins/jquery.min.js'
    'assets/global/plugins/jquery-migrate.min.js'
    'assets/global/plugins/jquery-ui/jquery-ui.min.js'
    'assets/global/plugins/bootstrap/js/bootstrap.min.js'
    'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
    'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
    'assets/global/plugins/jquery.blockui.min.js'
    'assets/global/plugins/jquery.cokie.min.js'
    'assets/global/plugins/uniform/jquery.uniform.min.js'
    'assets/global/plugins/bootbox/bootbox.min.js'
    'assets/global/plugins/bootstrap-toastr/toastr.min.js'
    'assets/global/scripts/metronic.js'
    'assets/admin/layout3/scripts/layout.js'
    'assets/admin/layout3/scripts/app.js'
    output='js/compiled/all.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

<script>
    var reportData;
    jQuery(document).ready(function() {
        {% block documentReady %}
        Metronic.init();
        //{{ appSettings.password_change_warning_before_day }}
        Layout.init({{ app.user.shouldWarnUserBefore(appSettings.password_change_warning_before_day) }}, "{{ path('fos_user_change_password') }}");
        App.init();

        {% endblock documentReady %}
    });
</script>
</body>
</html>