<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <title>{% block title %}Online CDM{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    {#<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">#}
    {% block stylesheets %}
        {% stylesheets
        'assets/global/plugins/font-awesome/css/font-awesome.min.css'
        'assets/global/plugins/simple-line-icons/simple-line-icons.min.css'
        'assets/global/plugins/bootstrap/css/bootstrap.min.css'
        'assets/global/plugins/uniform/css/uniform.default.css'
        'assets/admin/pages/css/login.css'
        'assets/global/css/components-md.css'
        'assets/global/css/plugins-md.css'
        'assets/admin/layout3/css/layout.css'
        'assets/admin/layout3/css/themes/default.css'
        'assets/admin/layout3/css/custom.css'
        filter='cssrewrite' output='css/compiled/login-all.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="shortcut icon" href="favicon.ico">
</head>
<body class="page-md login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="#">
        <img src="{{ asset('assets/admin/layout3/img/citybank_logo.jpg') }}" alt="" height="100"/>
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">

    {% block body %}{% endblock %}

</div>
<div class="copyright">
    All Rights Reserved.
</div>


{% block javascripts %}

    {% javascripts
    'assets/global/plugins/respond.min.js'
    'assets/global/plugins/excanvas.min.js'
    'assets/global/plugins/jquery.min.js'
    'assets/global/plugins/jquery-migrate.min.js'
    'assets/global/plugins/bootstrap/js/bootstrap.min.js'
    'assets/global/plugins/jquery.blockui.min.js'
    'assets/global/plugins/jquery.cokie.min.js'
    'assets/global/plugins/uniform/jquery.uniform.min.js'
    'assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
    'assets/global/scripts/metronic.js'
    'assets/admin/layout3/scripts/layout.js'
    'assets/admin/pages/scripts/login.js'
    output='js/compiled/login-all.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

<script>
    jQuery(document).ready(function() {
        {% block documentReady %}
        Metronic.init();
        Layout.init();
        Login.init();
        {% endblock documentReady %}
    });
</script>
</body>
</html>