{% extends 'base.html.twig' %}

{% block pageHeader %}{% endblock %}

{% block body %}

    <h1 class="text-center">Welcome to Online CDM Application</h1>
    <br />
    <div class="row">
        {% if is_granted('ROLE_BACK_OFFICE_LIST') %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalBackOffices }}
                    </div>
                    <div class="desc">
                        Back Offices
                    </div>
                </div>
                <a class="more" href="{{ path('app_back_office_list') }}">
                    View List <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        {% endif %}
        {% if is_granted('ROLE_BININFO_LIST') %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="dashboard-stat purple-plum">
                <div class="visual">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalBinInfo }}
                    </div>
                    <div class="desc">
                        Bin Info
                    </div>
                </div>
                <a class="more" href="{{ path('app_bin_code_list') }}">
                    View List <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        {% endif %}
        {% if is_granted('ROLE_KIOSK_LIST') %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ TotalKiosks }}
                    </div>
                    <div class="desc">
                        Kiosks
                    </div>
                </div>
                <a class="more" href="{{ path('app_kiosk_list') }}">
                    View List <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row margin-top-10">
        {% if is_granted('ROLE_REPORT_LIVE') %}
        <div class="col-md-6 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">Live Transactions</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        {{ liveTransactions|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if is_granted('ROLE_KIOSK_STATUS') %}
        <div class="col-md-6 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">Kiosk Status</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        {{ kiosksTable|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'assets/admin/layout3/scripts/report/report-kiosk.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    {{ parent() }}
    ReportKiosk.init('{{ path('app_kiosk_status') }}');
{% endblock %}