{% extends '::login-base.html.twig' %}

{% block title %}
    {{ parent() }} | Login
{% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
        <h3 class="form-title">Sign In</h3>
        {% if error %}
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </div>
        {% endif %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="_password"/>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase">Login</button>
            <label class="rememberme check">
                <input type="checkbox" name="_remember_me" value="on"/>Remember </label>
                {#<a href="{{ path('fos_user_resetting_request') }}" id="forget-password" class="forget-password">Forgot Password?</a>#}
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    </form>

{% endblock %}