{% extends '::login-base.html.twig' %}

{% block title %}
    {{ parent() }} | Forget Password
{% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    <form class="" action="{{ path("fos_user_resetting_send_email") }}" method="post">
        <h3>Forget Password ?</h3>

        {% if invalid_username is defined %}
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</span>
            </div>
        {% endif %}

        <p>
            Enter your e-mail address below to reset your password.
        </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="username"/>
        </div>
        <div class="form-actions">
            <a href="{{ path('fos_user_security_login') }}" id="back-btn" class="btn btn-default">Back</a>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form>

{% endblock %}