/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.table thead tr th{
    font-weight: bold;
    font-size: 16px;
}

@media screen {
    .print-only {
        display: none;
    }
}

.chart{
    margin: 20px 0;
}

.no-message{
    padding: 20px;
}

table.report-table{
    border-top: 1px solid rgb(221, 221, 221);
}
.margin-left-20px{
    margin-left: 20px;
}
.margin-top-22px{
    margin-top: 22px;
}

.input-tiny{
    width: 105px !important;
}
.input-nano{
    width: 80px !important;
}

.filter-label{
    display: block;
}