{% extends '::login-base.html.twig' %}

{% block title %}
    {{ parent() }} | Change Password
{% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div class="form-actions">
            <input class="btn btn-success uppercase" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </form>

{% endblock %}