{{ include('elements/print/print-header.html.twig', {'reportTitle': 'Terminal wise Deposit Report <br>Date wise Report'}) }}
<div id="bar-chart" class="chart"></div>
<table class="table table-bordered report-table">
    <thead>
    <tr>
        <th width="5%">#</th>
        <th width="25%">Date</th>
        <th width="30%">CashDeposit</th>
        <th width="30%">CheckDeposit</th>
        <th width="10%">CreditCardDeposit</th>
        <th width="20%">Total</th>
    </tr>
    </thead>
    <tbody>
        {% set slNo = 0 %}
        {% for date, row in reportData %}
            {% set slNo = slNo + 1 %}
            <tr>
                <td>{{ slNo }}</td>
                <td>{{ date }}</td>
                <td class="text-align-reverse">{{ row.CashDeposit|number_format(2) }}</td>
                <td class="text-align-reverse">{{ row.CheckDeposit|number_format(2) }}</td>
                <td class="text-align-reverse">{{ row.CreditCardDeposit|number_format(2) }}</td>
                <td class="text-align-reverse">{{ row.Total|number_format(2) }}</td>
            </tr>
        {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td><strong>Grand Total</strong></td>
            <td class="text-align-reverse">{{ reportGrandTotal.CashDeposit|number_format(2) }}</td>
            <td class="text-align-reverse">{{ reportGrandTotal.CheckDeposit|number_format(2) }}</td>
            <td class="text-align-reverse">{{ reportGrandTotal.CreditCardDeposit|number_format(2) }}</td>
            <td class="text-align-reverse">{{ reportGrandTotal.Total|number_format(2) }}</td>
        </tr>
    </tfoot>
</table>