<table class="table table-bordered report-table">
    <thead>
    <tr>
        <th width="5%">#</th>
        <th width="25%">Date Time</th>
        <th width="30%">Kiosk Name</th>
        <th width="30%">Deposit Type</th>
        <th width="10%">Amount</th>
    </tr>
    </thead>
    <tbody>
        {% set slNo = 0 %}
        {% for date, row in reportData %}
            {% set slNo = slNo + 1 %}
            <tr>
                <td>{{ slNo }}</td>
                <td>{{ row.DATE }}</td>
                <td>{% if kiosks[row.KIOSK] is defined %}{{ kiosks[row.KIOSK] }}{% else %}{{ row.KIOSK }}{% endif %}</td>
                <td>{{ row.TYPE }}</td>
                <td class="text-align-reverse">{{ row.AMOUNT|number_format(2) }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td colspan="3"><strong>Grand Total</strong></td>
            <td class="text-align-reverse">{{ reportGrandTotal|number_format(2) }}</td>
        </tr>

    </tbody>
</table>