{{ include('elements/print/print-header.html.twig', {'reportTitle': 'Terminal wise Deposit Report <br>Session Report'}) }}

<table class="table table-bordered report-table">
    <thead>
    <tr>
        <th width="5%">#</th>
        <th width="25%">Receipt No</th>
        <th width="30%">Transaction Date Time</th>
        <th width="30%">Account Card or Bill No</th>
        <th width="10%">Deposit Amount</th>
        <th width="20%">Account No. for Debit Instruction </th>
    </tr>
    </thead>
    <tbody>
    {% set slNo = 0 %}
    {% for paymentTypeName, paymentType in reportData %}
        <tr><td colspan="6"><strong>Payment Type:</strong> {{ paymentTypeName }}</td></tr>
        {% for paymentModeName, paymentMode in paymentType %}
            <tr><td></td><td colspan="4"><strong>Payment Mode:</strong> {{ paymentModeName }}</td></tr>
            {% for index, row in paymentMode['rows'] %}
                {% set slNo = slNo + 1 %}
                <tr>
                    <td>{{ slNo }}</td>
                    <td>{{ row.SERVICETRANSACTIONID }}</td>
                    <td>{{ row.TRANSACTIONDATETIME|date("d/m/y h:i:A") }}</td>
                    <td>{{ row.USERACCOUNTNO }}</td>
                    <td class="text-align-reverse">{{ row.AMOUNT|number_format(2) }}</td>
                    <td></td>
                </tr>
            {% endfor %}

            <tr><td></td><td colspan="3"><strong>Payment Mode wise Total:</strong></td><td class="text-align-reverse">{{ paymentMode['total']|number_format(2) }}</td><td></td></tr>

        {% endfor %}
    {% endfor %}

    <tr><td></td><td colspan="3"><strong>Grand Total</strong></td><td class="text-align-reverse">{{ reportGrandTotal|number_format(2) }}</td><td></td></tr>

    </tbody>
</table>