{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Daily Report
{% endblock %}

{% block pageHeader %}
    <h1>Daily Report</h1>
{% endblock %}

{% block body %}

    <div class="row hidden-print">
        <div class="col-md-12">

            {{ include(':elements:flash-messages.html.twig') }}

            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Filter</span>
                    </div>

                    <div class="tools">
                        <button class="btn print-report">Print</button>
                    </div>

                </div>
                <div class="portlet-body">

                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Kiosk:</label>
                            <select name="kioskCode" class="form-control input-medium select2me" data-placeholder="Select...">
                                {% for kioskName, kioskCode  in kiosks %}
                                    <option value="{{ kioskName }}">{{ kioskCode }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group" id="defaultrange">
                                <input name="date" type="text" class="form-control" value="{{ "now"|date('Y-m-d') }} to {{ "now"|date('Y-m-d') }}">
                                    <span class="input-group-btn">
                                    <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default show-report">Show Report</button>
                    </form>

                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Report Data</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable report-body">
                        <div class="no-message">No report generated.</div>
                    </div>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'assets/global/plugins/bootstrap-datepicker/css/datepicker3.css'
    'assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    {% javascripts
    'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    'assets/global/plugins/bootstrap-daterangepicker/moment.min.js'
    'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js'
    'assets/global/plugins/select2/select2.min.js'
    'assets/global/plugins/flot/jquery.flot.min.js'
    'assets/global/plugins/flot/jquery.flot.resize.min.js'
    'assets/global/plugins/flot/jquery.flot.pie.min.js'
    'assets/global/plugins/flot/jquery.flot.stack.min.js'
    'assets/global/plugins/flot/jquery.flot.crosshair.min.js'
    'assets/global/plugins/flot/jquery.flot.categories.min.js'
    'assets/admin/layout3/scripts/report/daily.js'
    'assets/admin/layout3/scripts/report/chart.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    {{ parent() }}

    App.dateRangeHandler($('#defaultrange'));
    DailyReport.init('{{ path('app_transaction_report_daily_report_data') }}');

{% endblock %}