{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Live Report
{% endblock %}

{% block pageHeader %}
    <h1>Live Report</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Live Transaction</span>
                    </div>
                    <div class="tools hidden-print">
                        <button class="btn reload-live-report"><i class="fa fa-refresh"></i></button>
                        <button class="btn print-report">Print</button>
                    </div>
                </div>
                <div class="portlet-body report-body">
                    <div class="table-scrollable report-body">
                        <div class="no-message">No report generated.</div>
                    </div>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'assets/global/plugins/bootstrap-datepicker/css/datepicker3.css'
    'assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    {% javascripts
    'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    'assets/global/plugins/bootstrap-daterangepicker/moment.min.js'
    'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js'
    'assets/global/plugins/select2/select2.min.js'
    'assets/admin/layout3/scripts/report/report-common.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    {{ parent() }}

    App.dateRangeHandler($('#defaultrange'), 'YYYY');
    ReportCommon.liveReportData('{{ path('app_transaction_report_live_report_date') }}');
{% endblock %}