{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Report
{% endblock %}

{% block pageHeader %}
    <h1>Report</h1>
{% endblock %}

{% block body %}

    <div class="row hidden-print">
        <div class="col-md-12">

            {{ include(':elements:flash-messages.html.twig') }}

            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Filter</span>
                    </div>

                    <div class="tools">
                        <button class="btn print-report">Print</button>
                    </div>

                </div>
                <div class="portlet-body filter-option-body">
                    <div class="">
                        <table cellpadding="5" class="table form-horizontal filter-form">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Date:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-control-inline input-small date-picker start-date" name="date" value="{{ "now"|date('Y-m-d') }}">
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Kiosk:</label>
                                        <div class="col-md-4">
                                            <select name="kiosk_name" class="form-control input-medium select2me" data-placeholder="Select...">
                                                {% for kioskName, kioskCode  in kiosks %}
                                                    <option value="{{ kioskName }}">{{ kioskCode }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Session:</label>
                                        <div class="col-md-4">
                                            <select name="session_id" class="form-control input-medium select2me" data-placeholder="Select...">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button class="btn show-report">Show Report</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Report Data</span>
                    </div>
                    {#<div class="tools">
                        <a href="javascript:;" class="reload"></a>
                    </div>#}
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable report-body">
                        <div class="no-message">No report generated.</div>
                    </div>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'assets/global/plugins/bootstrap-datepicker/css/datepicker3.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    {% javascripts
    'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    'assets/global/plugins/select2/select2.min.js'
    'assets/admin/layout3/scripts/report/session.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    {{ parent() }}
    SessionReport('{{ path('app_transaction_report_session_of_kiosk') }}', '{{ path('app_transaction_report_session_report_data') }}');
{% endblock %}