{% extends 'base.html.twig' %}

{% if user is defined %}
    {% set title = 'Edit User' %}
{% else %}
    {% set title = 'Add New User' %}
{% endif %}

{% block title %}
    {{ parent() }} | {{ title }}
{% endblock %}

{% block pageHeader %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block body %}

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'assets/global/plugins/jquery-multi-select/css/multi-select.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    {{ parent() }}
    $('.multi-select').multiSelect({
        selectableOptgroup: true
    });
{% endblock %}