{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Users
{% endblock %}

{% block pageHeader %}
    <h1>Users</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {{ include(':elements:flash-messages.html.twig') }}

            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Users</span>
                    </div>
                    <div class="tools">
                        {% if is_granted('ROLE_USER_ADD') %}
                            <a href="{{ path('app_user_new') }}" title="Add New Kiosk" class="data-original-title title">
                                <i class="fa fa-plus"></i></a>
                        {% endif %}
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Email</th>
                                <th width="260px">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in results %}
                                <tr{% if row.locked %}{{ ' class="danger"' }}{% endif %}>
                                    <td>{{ row.username }}</td>
                                    <td>{{ row.email }}</td>
                                    <td>
                                        {% if is_granted('ROLE_USER_EDIT') %}
                                            <a href="{{ path('app_user_edit', {id: row.id}) }}" class="btn default btn-xs">
                                                <i class="fa fa-edit"></i> Edit </a>
                                        {% endif %}

                                        {% if is_granted('ROLE_USER_DELETE') %}
                                            <a href="{{ path('app_user_delete', {id: row.id}) }}" class="delete_confirm btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        {% endif %}

                                        {% if row.locked %}
                                            {% if is_granted('ROLE_USER_LOCK') %}
                                                <a href="{{ path('app_user_unlock', {id: row.id}) }}" class="delete_confirm btn default btn-xs black">
                                                    <i class="fa fa-trash-o"></i> Unlock </a>
                                            {% endif %}

                                        {% else %}
                                            {% if is_granted('ROLE_USER_UNLOCK') %}
                                                <a href="{{ path('app_user_lock', {id: row.id}) }}" class="delete_confirm btn default btn-xs black">
                                                    <i class="fa fa-trash-o"></i> Lock </a>
                                            {% endif %}

                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

{% endblock %}
