{% extends 'base.html.twig' %}

{% if binCode is defined %}
    {% set title = 'Edit Bin Code' %}
{% else %}
    {% set title = 'Add New Bin Code' %}
{% endif %}

{% block title %}
    {{ parent() }} | {{ title }}
{% endblock %}

{% block pageHeader %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block body %}

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}
