<div class="table-scrollable">
    <table class="table table-striped table-hover" id="kiosk-status-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Kiosk Code</th>
            <th>Kiosk Name</th>
        </tr>
        </thead>
        <tbody>
        {% for row in results %}
            <tr class="kiosk-{{ row.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ row.kioskCode }}</td>
                <td>{{ row.kioskName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>