{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Kiosks
{% endblock %}

{% block pageHeader %}
    <h1>Kiosks</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {{ include(':elements:flash-messages.html.twig') }}

            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Kiosks</span>
                    </div>
                </div>
                <div class="portlet-body">
                    {{ include(':Report/Kiosk:_index-kiosks-list.html.twig') }}
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'assets/admin/layout3/scripts/report/report-kiosk.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    {{ parent() }}
    ReportKiosk.init('{{ path('app_kiosk_status') }}');
{% endblock %}
