{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Kiosks
{% endblock %}

{% block pageHeader %}
    <h1>Kiosks</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {{ include(':elements:flash-messages.html.twig') }}

            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Kiosks</span>
                    </div>
                    <div class="tools">
                        {% if is_granted('ROLE_KIOSK_ADD') %}
                            <a href="{{ path('app_kiosk_new') }}" title="Add New Kiosk" class="data-original-title title">
                                <i class="fa fa-plus"></i></a>
                        {% endif %}
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Kiosk Code</th>
                                <th>Kiosk Name</th>
                                <th>Last Ping</th>
                                <th>Back Office</th>
                                <th width="180px">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in results %}
                                <tr>
                                    <td>{{ row.kioskCode }}</td>
                                    <td>{{ row.kioskName }}</td>
                                    <td>{{ row.heartBitDateTime|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ backOffices[row.backOfficeId]|default('') }}</td>
                                    <td>
                                        {% if is_granted('ROLE_KIOSK_EDIT') %}
                                            <a href="{{ path('app_kiosk_edit', {id: row.id}) }}" class="btn default btn-xs">
                                                <i class="fa fa-edit"></i> Edit </a>
                                        {% endif %}

                                        {% if is_granted('ROLE_KIOSK_DELETE') %}
                                            <a href="{{ path('app_kiosk_delete', {id: row.id}) }}" class="delete_confirm btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

{% endblock %}
