{% extends 'base.html.twig' %}

{% set title = 'Settings' %}

{% block title %}
    {{ parent() }} | {{ title }}
{% endblock %}

{% block pageHeader %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block body %}

    {{ include(':elements:flash-messages.html.twig') }}

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}
