{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Report
{% endblock %}

{% block pageHeader %}
    <h1>Report</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {{ include(':elements:flash-messages.html.twig') }}

            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Report Chart</span>
                    </div>
                    {#<div class="tools">
                        <a href="{{ path('app_user_new') }}" title="Add New Kiosk" class="data-original-title title">
                            <i class="fa fa-plus"></i></a>
                    </div>#}

                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <div id="chart_container" style="width: 100%; height: 300px"></div>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Report Data</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="reload"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Kiosk</th>
                                <th>Date</th>
                                <th>Deposit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for index, row in data %}
                            <tr>
                                <td>{{ index + 1 }}</td>
                                <td>{{ row.kiosk }}</td>
                                <td>{{ row.date }}</td>
                                <td>{{ row.deposit|number_format(2) }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    {% javascripts
    'assets/global/plugins/amcharts/amcharts/amcharts.js'
    'assets/global/plugins/amcharts/amcharts/serial.js'
    'assets/global/plugins/amcharts/amcharts/pie.js'
    'assets/global/plugins/amcharts/amcharts/radar.js'
    'assets/global/plugins/amcharts/amcharts/themes/light.js'
    'assets/global/plugins/amcharts/amcharts/themes/patterns.js'
    'assets/global/plugins/amcharts/amcharts/themes/chalk.js'
    'assets/global/plugins/amcharts/ammap/ammap.js'
    'assets/global/plugins/amcharts/ammap/maps/js/worldLow.js'
    'assets/global/plugins/amcharts/amstockcharts/amstock.js'
    'assets/global/scripts/chart.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


{% block documentReady %}
    {{ parent() }}
    reportData = {{ data|json_encode|raw }}
    Charts();
{% endblock documentReady %}
