<table class="table table-bordered table-hover" style="width: 800px">
    <thead>
    <tr>
        <th>#</th>
        <th>Time</th>
        <th>Event</th>
        <th>Description</th>
        <th>User</th>
        <th>IP</th>
    </tr>
    </thead>
    <tbody>
    {% for index, row in data %}
        <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ row.EVENT_TIME }}</td>
            <td>{{ row.TYPE_NAME }}</td>
            <td><div style="width: 500px; word-break: break-all;">{{ row.DESCRIPTION }}</div></td>
            <td>{{ row.USER_NAME }}</td>
            <td>{{ row.IP_ADDRESS }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>