<table class="table table-bordered table-hover report-table">
    <thead>
    <tr>
        <th>#</th>
        <th>Time</th>
        <th>Kiosk</th>
        <th>Kiosk From</th>
        <th>Event</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for index, row in data %}
        <tr>
            <td>{{ index + 1 }}</td>
            <td width="100px">{{ row.AUDITTRAILDATETIME }}</td>
            <td>{{ row.KIOSKCODE }}</td>
            <td>{{ row.KIOSKFORM }}</td>
            <td>{{ row.KIOSKEVENT }}</td>
            <td>{{ row.KIOSKMESSAGE }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>